<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Карта жизненных ориентиров</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 	<link rel="stylesheet" href="../static/css/style_kjo.min.css"> -->
    <link rel="stylesheet" href="../static/css/style_kjo.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext&_v=20230530085453"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext&_v=20230530085453" rel="stylesheet" />
  </head>

  <body onload="loadITR()">
    <div class="wrapper">
      <main class="page">
        <div class="menu-kjo">
          <div class="menu-kjo__container">
            <div class="menu-kjo__body">
              <div class="menu-kjo__mob">
                <a href="/couch" class="menu-kjo__logo">
                  <img src="../static/img/kjo/logo-kjo.svg" alt="" />
                </a>
                <div class="menu-kjo__contact menu-kjo__contact_mob">
                  <a class="menu-kjo__icon" target="_blank" title="Email" href="mailto:info@ai4g.ru">
                    <img src="../static/img/kjo/icons/email-kjo.svg" alt="" />
                  </a>

                  <a class="menu-kjo__icon" target="_blank" title="Телефон" href="tel:+79852000434">
                    <img src="../static/img/kjo/icons/telegram-kjo.svg" alt="phone" />
                  </a>
                </div>
              </div>

              <div class="menu-kjo__block">
                <div class="menu-kjo__client menu-kjo__item">
                  <div class="menu-kjo__label">Клиент:</div>
                  <div class="menu-kjo__name-client">{{data2[0][0]+ " " + data2[0][1]}}</div>
                </div>

                <div class="menu-kjo__date menu-kjo__item">
                  <div class="menu-kjo__label">Дата диагностической сессии:</div>
                  <select onchange="loadITR()" id="session">
                    <option selected onclick="loadITR()" value="{{ sessions[0][0] }}">{{ sessions[0][1] }} {{ sessions[0][2] }}</option>
                    {% for session in sessions[1:] %}
                    <option onclick="loadITR()" value="{{ session[0] }}">{{ session[1] }} {{ session[2] }}</option>
                    {% end %}
                  </select>
                </div>

                <div class="menu-kjo__couch menu-kjo__item">
                  <div class="menu-kjo__label">Коуч:</div>
                  <div class="menu-kjo__name-couch">{{data[0][0]+ " " + data[0][1]}}</div>
                </div>
              </div>

              <div class="menu-kjo__contact menu-kjo__contact_comp">
                <a class="menu-kjo__icon" target="_blank" title="Email" href="mailto:info@ai4g.ru">
                  <img src="../static/img/kjo/icons/email-kjo.svg" alt="" />
                </a>

                <a class="menu-kjo__icon" target="_blank" title="Телефон" href="tel:+79852000434">
                  <img src="../static/img/kjo/icons/telegram-kjo.svg" alt="phone" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <section class="map-kjo">
          <div class="map-kjo__container">
            <h1 class="map-kjo__title">
              <span>Карта жизненных ориентиров</span>
              <div class="line"></div>
            </h1>

            <div class="map-kjo__body">
              <div class="map-kjo__column map-kjo__column_left">
                <div class="map-kjo__item item-kjo">
                  <h2 class="item-column__subtitle subtitle" id="isFocus">
                    Фокуса нет
                    <picture
                      ><source id="webp" srcset="" type="image/webp" />
                      <img id="jpg" src="/static/img/kjo/focus.jpg" alt=""
                    /></picture>
                  </h2>
                  <div class="item-column__block item-column__block_auto">
                    <div class="item-column__point">Будущее или Настоящее</div>
                    <div class="item-column__point-right">С будущим</div>
                    <div class="item-column__point">Цель или состояние</div>
                    <div class="item-column__point-right" id="targetOrMoney">Цель</div>
                    <div class="item-column__point">Готовность к изменениям</div>
                    <div class="item-column__point-right" id="yesornochange">Есть</div>
                    <div class="item-column__point">Жгучесть целей</div>
                    <div class="item-column__point-right" id="count_target">6</div>
                  </div>
                </div>

                <div class="map-kjo__item item-kjo">
                  <h2 class="item-kjo__subtitle subtitle">Направления развития</h2>
                  <ul class="item-kjo__list" id="development_list">
                    <li class="item-kjo__item">Поведение (привычки)</li>
                    <li class="item-kjo__item">Мышление</li>
                    <li class="item-kjo__item">Убеждения</li>
                  </ul>
                </div>

                <div class="map-kjo__item item-kjo">
                  <h2 class="item-kjo__subtitle subtitle">Потенциал</h2>
                  <ul class="item-kjo__list item-kjo__list_last">
                    <li class="item-kjo__item" id="potential">Возможности соотвествуют желаниям</li>
                  </ul>

                  <div class="item-column__block">
                    <div class="item-column__point">Горизонт (мес.)</div>
                    <div class="item-column__point-right" id="Horizont">6-12</div>

                    <div class="item-column__point">Контроль</div>
                    <div class="item-column__point-right" id="Controlling">Пошаговый</div>
                  </div>
                </div>
              </div>

              <div class="map-kjo-middle__item factor">
                <h2 class="factor__subtitle subtitle">Факторы благополучия</h2>
                <h2 class="factor__caption">Составляющие, которые влияют на ощущение счастья и внутреннего благополучия</h2>
                <div class="factor__content">
                  <div class="chart">
                    <div class="chart__item">
                      <p>Ясность ума</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_1"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_1"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Любовь к жизни</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_2"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_2"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Любовь к себе</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_3"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_3"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Устойчивость</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_4"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_4"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Страстная приверженность</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_5"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_5"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Энергия</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_6"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_6"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Эмоции</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_7"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_7"></div>
                        </div>
                      </div>
                    </div>

                    <div class="chart__item">
                      <p>Ощущение счастья</p>
                      <div class="chart__graf">
                        <div class="pipe">
                          <div id="step1_8"></div>
                        </div>
                        <div class="pipe pipe_purple">
                          <div id="step2_8"></div>
                        </div>
                      </div>
                    </div>
                    <div class="chart__item">
                      <p></p>
                      <div class="chart__line">
                        <div class="chart__number">
                          <div class="chart__numeral"><span>0</span></div>
                          <div class="chart__numeral"><span>1</span></div>
                          <div class="chart__numeral"><span>2</span></div>
                          <div class="chart__numeral"><span>3</span></div>
                          <div class="chart__numeral"><span>4</span></div>
                          <div class="chart__numeral"><span>5</span></div>
                          <div class="chart__numeral"><span>6</span></div>
                          <div class="chart__numeral"><span>7</span></div>
                          <div class="chart__numeral"><span>8</span></div>
                          <div class="chart__numeral"><span>9</span></div>
                          <div class="chart__numeral chart__numeral_10">
                            <span>10</span>
                          </div>
                        </div>
                        <div class="level01"></div>
                        <div class="level02"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="factor__bottom">
                  <div class="explanation-factor">
                    <div class="explanation-factor__item">
                      <div class="explanation-factor__square explanation-factor__square_green"></div>
                      <span>Факторы благополучия (факт)</span>
                    </div>
                    <div class="explanation-factor__item">
                      <div class="explanation-factor__square explanation-factor__square_purple"></div>
                      <span>Факторы благополучия (изменения)</span>
                    </div>
                  </div>

                  <div class="explanation-factor">
                    <div class="explanation-factor__item explanation-factor__item_line">
                      <div class="explanation-factor__line"></div>
                      <span>1-Уровень самооценки (факт)</span> <span class="explanation-factor__average-value" id="average-value-01"></span>
                    </div>
                    <div class="explanation-factor__item explanation-factor__item_line">
                      <div class="explanation-factor__line explanation-factor__line_dark"></div>
                      <span>2-Уровень самооценки (желаемый)</span> <span class="explanation-factor__average-value" id="average-value-02"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="map-kjo__column map-kjo__column_right">
                <div class="map-kjo__item item-kjo">
                  <h2 class="item-kjo__subtitle subtitle">Сильные стороны</h2>
                  <ul id="strong_points" class="item-kjo__list">
                    <li class="item-kjo__item">Удачливость</li>
                    <li class="item-kjo__item">Трудолюбие</li>
                    <li class="item-kjo__item">Другое</li>
                  </ul>
                </div>

                <div class="map-kjo__item item-kjo">
                  <h2 class="map-kjo__subtitle subtitle">Индивидуальность</h2>
                  <div class="item-column__block item-column__block_auto">
                    <div class="item-column__point">Интерес к жизни</div>
                    <div class="item-column__point-right" id="procent-interest-life">25%</div>
                    <div class="item-column__point">Уверенность</div>
                    <div class="item-column__point-right" id="procent-confidence">35%</div>
                    <div class="item-column__point">Ответственность</div>
                    <div class="item-column__point-right" id="procent-responsibility">50%</div>
                    <div class="item-column__point">Тип реагирования</div>
                    <div class="item-column__point-right" id="type-response">Мультиактивный</div>
                  </div>
                </div>
                <div class="map-kjo__item item-kjo">
                  <h2 class="item-kjo__subtitle subtitle">Западный / восточный</h2>
                  <div class="scale-kjo">
                    <input type="number" id="westernValue" min="0" max="100" value="40" />
                    <div class="scale-kjo__percentages">
                      <div>Западный: <span id="westernPercent"> 0%</span></div>
                      <div>Восточный: <span id="easternPercent"> 100%</span></div>
                    </div>
                    <div class="scale-kjo__block">
                      <div class="western" id="westernBar"></div>
                      <div class="eastern" id="easternBar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="line"></div>
        <section class="kjo-patterns">
          <div class="kjo-patterns__container">
            <h2 class="kjo-patterns__subtitle subtitle">Паттерны</h2>

            <div class="kjo-patterns__body">
              <div class="kjo-patterns__item">
                <h3 class="kjo-patterns__label">Паттерны организации времени</h3>
                <div class="kjo-patterns__sublabel">Основной паттерн:</div>

                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li kjo-patterns__main" id="pattern-time-main">Будущее</li>
                </ul>

                <div class="kjo-patterns__sublabel">Второстепенные паттерны:</div>

                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li" id="pattern-time-01">Полихронность</li>
                  <li class="kjo-patterns__li" id="pattern-time-02">Монохронность</li>
                  <li class="kjo-patterns__li" id="pattern-time-03">Монохронность</li>
                </ul>
              </div>

              <div class="kjo-patterns__item">
                <h3 class="kjo-patterns__label">Паттерны поведения</h3>
                <div class="kjo-patterns__sublabel">Основной паттерн:</div>
                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li kjo-patterns__main" id="pattern-behaviors-main">Принятие</li>
                </ul>
                <div class="kjo-patterns__sublabel">Второстепенные паттерны:</div>

                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li" id="pattern-behaviors-01">Делать</li>
                  <li class="kjo-patterns__li" id="pattern-behaviors-02">Коллективизм</li>
                  <li class="kjo-patterns__li" id="pattern-behaviors-03">Изменения</li>
                  <li class="kjo-patterns__li" id="pattern-behaviors-04">Конкуренция</li>
                  <li class="kjo-patterns__li" id="pattern-behaviors-05">Защищать границы</li>
                </ul>
              </div>

              <div class="kjo-patterns__item">
                <h3 class="kjo-patterns__label">Паттерны коммуникации</h3>
                <div class="kjo-patterns__sublabel">Основной паттерн:</div>
                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li kjo-patterns__main" id="pattern-communications-main">Эмоциональность</li>
                </ul>
                <div class="kjo-patterns__sublabel">Второстепенные паттерны:</div>

                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li" id="pattern-communications-01">Низкий контекст</li>
                  <li class="kjo-patterns__li" id="pattern-communications-02">Неформальность</li>
                  <li class="kjo-patterns__li" id="pattern-communications-03">Формальность</li>
                </ul>
              </div>

              <div class="kjo-patterns__item">
                <h3 class="kjo-patterns__label">Паттерны мышления</h3>
                <div class="kjo-patterns__sublabel">Основной паттерн:</div>
                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li kjo-patterns__main" id="pattern-thinking-main">Поленезависимость</li>
                </ul>
                <div class="kjo-patterns__sublabel">Второстепенные паттерны:</div>

                <ul class="kjo-patterns__list">
                  <li class="kjo-patterns__li" id="pattern-thinking-01">Рефлексивность</li>
                  <li class="kjo-patterns__li" id="pattern-thinking-02">Аналитичное мышление</li>
                  <li class="kjo-patterns__li" id="pattern-thinking-03">Индуктивное мышление</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="line"></div>
      </main>
      <footer class="footer">
        <div class="footer__container"></div>
      </footer>
    </div>
    <div id="popup-search" aria-hidden="true" class="popup-search popup">
      <div class="popup__wrapper">
        <div class="popup__content">
          <button data-close type="button" class="popup__close">Закрыть</button>
          <form action="#" method="get" class="popup__form" autocomplete="off">
            <input
              placeholder="Поиск"
              type="text"
              name="text"
              autocapitalize="off"
              autocomplete="off"
              autocorrect="off"
              spellcheck="false"
              maxlength="255"
              class="popup__input"
            />
            <button class="popup__button btn" type="submit">Найти</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../static/js/app_couch.min.js?_v=20230530085453"></script>
    <script src="../static/js/preanalysis.js"></script>
  </body>
</html>
